:root {
     --body-bg: #10101a;
     --widget-bg: #1a1a2b;
     --widget-border: 3px solid #2b2a45;
     --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     --font-color: #dcdcff;
     --link-color: #5faaff;
     --sidebar-bg: #151525;
     --sidebar-border: 4px solid #232338;
}

body {
     background-color: var(--body-bg);
}

*::-webkit-scrollbar {
     display: none; /* Chrome, Safari, Opera */
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: var(--font-family);
     color: var(--font-color);
     -ms-overflow-style: none; /* IE and Edge */
     scrollbar-width: none; /* Firefox */
}

li {
     list-style: none;
}

a,
.LinkButton {
     text-decoration: none;
     color: var(--link-color);
}

.LinkButton {
     background: none;
     border: none;
     padding: 0;
     font: inherit;
     cursor: pointer;
}

.WidgetGrid {
     margin: 20px;
     display: grid;
}

.Widget {
     background-color: var(--widget-bg);
     border: var(--widget-border);
     border-radius: 10px;
     padding: 0 20px 20px 20px;
     width: fit-content;
     height: fit-content;
}

.Widget .WidgetTitle {
     font-size: larger;
     margin-top: 10px;
     margin-bottom: 10px;
}

.Widget .WidgetFooter {
     margin-top: 10px;
}
